@rendermode InteractiveServer

<h3>Select a Year</h3>

<select @bind="selectedYear">
    @foreach (var year in years)
    {
        <option value="@year">@year</option>
    }
</select>

<p>You selected: @selectedYear</p>

@code {
    private int selectedYear;

    private List<int> years = new List<int>
    {
        2019, 2020, 2021, 2022, 2023, 2024
    };

}