@using Microsoft.AspNetCore.Components
@rendermode InteractiveServer

<h3>Select a Year</h3>

<select value="selectedYear"  @onchange="(e => Update(e))">
    @foreach (var year in years)
    {
        <option value="@year">@year</option>
    }
</select>
@code {
    private string selectedYear;
    [Parameter] public EventCallback<string> OnYearSelected { get; set; }
    private List<string> years = new List<string>
    {
        "2019", "2020", "2021", "2022", "2023", "2024"
    };
    
    private async Task Update(ChangeEventArgs e)
    {
        selectedYear = e.Value?.ToString();
        if (!string.IsNullOrEmpty(selectedYear))
        {
            await OnYearSelected.InvokeAsync(selectedYear);
        }
    }

}