.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('/images/field-with-windmills.jpg');
    background-size: cover;
    background-position: center;
    padding: 0px;
    margin: 0px;  
    color: white
}


.background-startpage {
    height: 100vh;
    background-image: url('/images/windturbines_darksunset.jpg');
    background-size: cover;
    background-position: center;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.map-image-startpage {
    position: absolute;
    top: 10%;
    right: 30%;
    max-width: 20%;
    height: auto;
    opacity: 0.6;  
}


.custom-toptext-startpage {
    position: absolute;
    font-size: 1.2rem; /*The font size should be 1.2 times the base value, refers to the font size defined in root*/
    color: white;
    text-align: left;
    top: 10%;
    margin-bottom: 5%;
}

.custom-headlinetext-startpage {
    position: absolute;
    font-size: clamp(2rem, 8vw, 4rem); /*Is used to create a responsive font size*/
    font-weight: bold;
    color: white;
    text-align: left;
    top: 12%;
    margin: 10px 0;
}

.custom-bottomtext-startpage {
    position: absolute;
    font-size: 1rem;
    color: white;
    text-align: left;
    top: 28%;
    margin: 10px 0;   
}

.custom-linktext-startpage {
    position: absolute;
    display: flex;
    flex-wrap: wrap; /*To determine how flex objects should handle line breaks*/
    gap: 10px;
    justify-content: flex-start;
    top: 35%;
}

.custom-linktext-startpage a {
    font-size: 0.9rem;
    text-decoration: underline;
    color: white;
    text-align: left;   
}

.custom-button {
    background-color: white;
    color: seagreen;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    /*transition: background-color 0.3s ease;*/
}

.text-box {
    background-color: rgba(46, 139, 87, 0.6); /* Seagreen + transparency */
    padding: 20px;
    border-radius: 10px;
    position: absolute; /* The box should be in front of the background img */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjusts so that the box is exactly centered */
    word-wrap: break-word; /* Make the text break if it is too long */
}

.comparison-symbol{
    background: none;
    padding-top: 1em;
    font-size: xx-large;
}

.result {
    display: flex;
    gap: 16px; /* Adds space between the divs */
    margin-top: 40px;
}

    .result > div {
        border: 1px solid #ccc; /* Optional: Add a border for visual distinction */
        padding: 8px;
        flex: 1; /* Optional: Make the divs equal in width */  
    }

h3 {
    font-weight: bold;
}

p {
    font-weight: bold;
}

.icon {
    font-size: 1.5rem; /* Makes the icon bigger */
    line-height: 1; /* Adjust row spacing for better centering */
    margin-right: 0.6rem; /* Add spaces to the nav text */
    display: inline-flex; /* Maintains flexibility when centering */
    align-items: center;
}

/* Responsive start page customization */
@media (max-width: 768px) {
    .map-image {
         position: static;
         max-width: 60%;
         margin-bottom: 15px;
    }

    .custom-toptext-startpage,
    .custom-bottomtext-startpage {
         font-size: 1rem;
    }

    .custom-linktext-startpage {
         gap: 5px;
         flex-direction: column;
         align-items: flex-start;
    }

    .custom-linktext-startpage a {
         font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .map-image {
        max-width: 80%;
    }

    .custom-headlinetext-startpage {
        font-size: clamp(1.5rem, 8vw, 3rem);
    }

    .custom-toptext-hstartpage,
    .custom-bottomtext-startpage {
            font-size: 0.8rem;
    }
}