@rendermode InteractiveServer

@using KraftKollen.Models
@using Microsoft.AspNetCore.Components
<h3>Välj en region</h3>

<select value="@selectedRegion" @onchange="(e => Update(e))">

    @foreach (var region in regions)
    {
    <option value="@region.Id">@region.Name</option>
    }
</select>
 

@code {
   
    [Parameter] public EventCallback<string> OnRegionsSelected { get; set; }
    private string selectedRegion;
    
     private List<Region> regions =  AllRegions.GetAllRegions();
    

    private async Task Update(ChangeEventArgs e)
    {
        selectedRegion = e.Value?.ToString();
        if (!string.IsNullOrEmpty(selectedRegion))
        {
            await OnRegionsSelected.InvokeAsync(selectedRegion);
        }
    }
    
  

}