@rendermode InteractiveServer

@page "/"
@using KraftKollen.Models
@using KraftKollen.Repository
@using KraftKollen.Repository.Models
@using KraftKollen.Components.Components
@using KraftKollen.Components.Layout
@inject IApiService ApiService 

<link href="custom.css" rel="stylesheet" />

<div class="background-startpage">
    <img src="/images/map.png" alt="Map Image" class="map-image-startpage">
    <div class="custom-toptext-startpage">Välkommen till</div>
    <div class="custom-headlinetext-startpage">KraftKollen</div>
    <div class="custom-bottomtext-startpage">Elproduktionsstatistik från Sveriges vindkraftverk</div>
    <div class="custom-linktext-startpage">
        <a href="/CompareTwoRegionsOutputView">Jämför två år </a> 
        <a href="/WindPowerPerYear">Elproduktion per år</a>       
        <a href="/CalculatePercentageOfTotalProductionPage">Andel procent</a>
        <a href="/AverageProduction"> Medelvärde</a>
        <a href="/TopProductionYears">Topp 3 produktionsår</a>
        <a href="/TrendAnalys">Trendanalys</a>  
    </div>
</div>